*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: rgb(244, 238, 65);
}

button{
  padding: 10px 20px;
  margin: 10px;
}
h1{
  background-color: rgb(224, 191, 109);
  width: fit-content;
  font-size: 100px;
  padding: 10px 70px;
  border-radius: 50%;
}